@charset "utf-8";
/**
 * 气象头条[美图]样式
 * @author created by lizhigao(lizhigao@021.com)
 * @date 2016-02-24
 */
@media only screen and (min-width: 750px) {body{width: 750px; margin: 0 auto;}}
html,body{height: 100%;}
body{ font-size: 20px;  color: #333; background-color: #f8f8f8; min-width: 320px;}
a:active{background-color: #e5e5e5 !important;}

.nav-list{background-color: #3991fd; height: 4.8rem; padding-top: 0.4rem;}
.nav-list .nav-item{width: 18%; height: 100%; padding: 0.7rem 0;}
.nav-list .nav-item:first-child{width: 26%;}
.nav-list .nav-item a{display: block; width: 100%; text-align: center; font-size: 1.7rem; height: 3rem; line-height: 3rem; color: #d8eaff;}
.nav-list .nav-item a.active{color: #fff; font-weight: bold;}
.nav-list .nav-item a:active{background-color: #267AE2 !important;}

/*======== 预报 ========*/
.section{background-color: #fff; margin-top: 1.25rem;}
.section .section-hd{position: relative; padding: 1rem; position: relative;}
.section .section-hd h2{font-size: 1.5rem;}

.section .section-bd{position: relative; width: 100%; padding: 0 1rem 0;}
.section .section-bd .img-wrap{width: 37rem;}
.section .section-bd .img-wrap a{display: block; float: left; width: 17.2rem; height: 12.9rem; margin-right: 1.1rem; margin-bottom: 1rem;}
.section .section-bd .img-wrap a img{display: block; width: 100%; height: 100%;}

.no-more{font-size: 1.5rem; color: #999; padding: 1rem 0; text-align: center;}

.pop-win{position: fixed; top: 0; width: 37.5rem; height: 100%; background-color: rgba(0,0,0,.9); display: none; z-index: 999999;}
.pop-win .swiper-container,
.pop-win .swiper-container .swiper-wrapper,
.pop-win .swiper-container .swiper-wrapper .swiper-slide{width: 100%; height: 100%;}
/* .pop-win .swiper-container .swiper-wrapper .swiper-slide{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center;}
.pop-win img{max-width: 100%; max-height: 100%; margin: 0 auto;} */
.pop-win .swiper-container .swiper-wrapper .swiper-slide{white-space: nowrap; text-align: center;}
.pop-win .swiper-container .swiper-wrapper .swiper-slide:before{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
.pop-win .swiper-container .swiper-wrapper .swiper-slide .img-wrap{display: inline-block; max-width: 100%; max-height: 100%; vertical-align: middle; -webkit-user-drag: none;}
.pop-win .swiper-container .swiper-wrapper .swiper-slide .img-wrap img{max-width: 100%; max-height: 100%; -webkit-user-drag: none;}
.pop-win .swiper-pagination .swiper-pagination-bullet{background-color: #fff;}


