@charset "utf-8";
/**
 * 气象头条[首页]样式
 * @author created by lizhigao(lizhigao@021.com)
 * @date 2016-02-24
 */
@media only screen and (min-width: 750px) {body{width: 750px; margin: 0 auto;}}
html,body{min-height: 100%;}
body{font-size: 20px;  color: #4c3f36; background-color: #EBF3FF; min-width: 320px;}

/* today and tomorrow */
.sct.today{min-height: 3.81rem;}
.sct.tomorrow{min-height: 3.81rem;}
.sct{position: relative; border-bottom: 1px dotted #c9e2f9; padding: 0.5rem 0 0.7rem;}
.sct .sct-l{position: absolute; width: 3.6rem;}
.sct .sct-l img{display: block; margin: 0 auto; width: 2.6rem; height: 2.6rem;}
.sct .sct-r{margin-left: 3.6rem; min-height: 2.6rem;}

.sct .sct-r .time{font-size: 0.26rem; color: #c4c8d0; padding-top: 0.1rem;}
.sct .sct-r .time em{color: #fff; font-size: 0.28rem; background-color: rgba(89, 155, 255, 0.5); display: inline-block; padding: 0.04rem 0.12rem; border-radius: 0.08rem; margin-right: 0.15rem;}
.sct .sct-r .temp{font-size: 0.6rem; margin-top: 0.25rem;}
.sct .sct-r .weather{font-size: 0.56rem; font-weight: 600; margin-top: 0.25rem;}
.sct .sct-r .aqi{display: inline-block; color: #fff; padding: 0 0.15rem; height: 0.4rem; line-height: 0.4rem; font-size: 0.3rem; background-color: #89c914; border-radius: 0.06rem; margin-top: 0.2rem;}

/* more */
.more{position: relative; padding-bottom: 1rem;}
.more .time-line{position: absolute; height: 0.5rem; width: 100%; background-color: #EBF3FF;}
.more{background: url('http://test.kp2.dftoutiao.com/east_weather_h5/img/line.png') repeat-y scroll 1.82rem 0.4rem;}

.current{position: relative; padding-top: 0.4rem; min-height: 1.4rem;}
.current .time{position: absolute; left: 0.75rem; top: 0.4rem; height: 0.6rem; line-height: 0.6rem; font-size: 0.26rem;}
.current ul{margin-left: 1.5rem;}
.current ul li{position: relative; padding-left: 0.8rem; min-height: 0.64rem;}
.current ul li:last-child{margin-top: 0.4rem;}
.current ul li .img1,
.current ul li .img2{position: absolute; left: 0; top: 0; width: 0.64rem; height: 0.64rem; text-align: center; background-color: #EBF3FF; border-radius: 50%;}
.current ul li .img2{padding-top: 0.1rem;}
.current ul li .img1 img,
.current ul li .img2 img{display: block; margin: 0 auto; width: 0.6rem; height: 0.6rem; background-color: #EBF3FF; border-radius: 50%;}
.current ul li .img2 img{width: 0.4rem; height: 0.4rem;}
.current ul li .txt1{font-size: 0.3rem; line-height: 0.6rem;}
.current ul li .txt2{font-size: 0.26rem; color: #98979b; line-height: 0.4rem;}
.current ul li .txt2 span i{display: inline-block; background-repeat: no-repeat; background-position: center; margin-right: 0.06rem;}
.current ul li .txt2 .wet i{background-image: url('http://test.kp2.dftoutiao.com/east_weather_h5/img/wet.png'); width: 0.14rem; height: 0.2rem; background-size: 100%;}
.current ul li .txt2 .wind{margin-left: 0.2rem;}
.current ul li .txt2 .wind i{background-image: url('http://test.kp2.dftoutiao.com/east_weather_h5/img/wind.png'); width: 0.12rem; height: 0.2rem; background-size: 100%;}
.current ul li .txt2 .blk{display: inline-block; width: 33.33%;}
.current ul li .txt2 .blk sub{font-size: 0.14rem;}

/* 今天 */
.today-list-wrap{padding-top: 0.8rem;}
.today-list-wrap .hd{position: relative;}
.today-list-wrap .hd .time{position: absolute; left: 0.75rem; top: 0; height: 0.6rem; line-height: 0.6rem; font-size: 0.32rem;}
.today-list-wrap .hd .content{position: relative; margin-left: 1.5rem; padding-left: 0.8rem; height: 0.6rem; line-height: 0.6rem; font-size: 0.3rem; background-color: #EBF3FF;}
.today-list-wrap .hd .content img{position: absolute; left: 0.16rem; top: 0.16rem; width: 0.3rem; height: 0.3rem; background-color: #EBF3FF;}
.today-list	.today-item{position: relative; margin-top: 0.6rem;}
.today-list	.today-item .time{position: absolute; left: 0.75rem; top: 0; height: 0.6rem; line-height: 0.6rem; font-size: 0.26rem; color: #98979b;}
.today-list	.today-item .content{position: relative; margin-left: 1.5rem; padding-left: 0.8rem; height: 0.6rem; line-height: 0.6rem; font-size: 0.3rem;}
.today-list	.today-item .content .img{position: absolute; left: 0; top: 0; width: 0.64rem; height: 0.64rem; text-align: center;}
.today-list	.today-item .content .img img{display: block; margin: 0 auto; width: 0.6rem; height: 0.6rem; background-color: #EBF3FF; border-radius: 50%;}
.today-list	.today-item .content em{background-color: #ababaf; font-size: 0.24rem; color: #fff; margin-left: 0.1rem; padding: 0.06rem; line-height: 0.3rem; border-radius: 0.06rem;}

/* 未来天气 */
.future-list .future-item{position: relative; margin-top: 0.6rem;}
.future-list .future-item .time{position: absolute; left: 0.45rem; top: 0; height: 0.6rem; line-height: 0.6rem; font-size: 0.32rem;}
.future-list .future-item .time em{position: absolute; left: 0; bottom: -0.16rem; width: 100%; font-size: 0.22rem; color: #c4c8d0; text-align: center; line-height: 100%;}
.future-list .future-item .content{position: relative; margin-left: 1.5rem; padding-left: 0.8rem; min-height: 0.64rem;}
.future-list .future-item .content .img{position: absolute; left: 0; top: 0; width: 0.64rem; height: 0.64rem; text-align: center;}
.future-list .future-item .content .img img{display: block; margin: 0 auto; width: 0.6rem; height: 0.6rem; background-color: #EBF3FF; border-radius: 50%;}
.future-list .future-item .content .temp{font-size: 0.3rem; line-height: 0.6rem;}
.future-list .future-item .content .temp em{background-color: #ababaf; color: #fff; padding: 0.04rem;     border-radius: 0.06rem;}
.future-list .future-item .content .wind{font-size: 0.26rem; color: #98979b;}
.future-list .future-item .content .wind i{display: inline-block; background-repeat: no-repeat; background-position: center; margin-right: 0.06rem; background-image: url('http://test.kp2.dftoutiao.com/east_weather_h5/img/wind.png'); width: 0.12rem; height: 0.3rem; background-size: 100%; vertical-align: top;}