@charset "utf-8";
/**
 * 抽奖页面样式
 * @author lizhigao(lizhigao@021.com)
 */
/* 首页 start */
 .container{background-repeat: repeat;} 
.banner{width: 100%; height: 18rem; text-align: center;}
.banner img{width: 100%; height: 100%;}

/* 抽奖转盘 */
.turntable-wrap{width: 100%; padding-left: 1rem; padding-right: 1rem; margin-top: 0.5rem;}
.turntable-wrap .txt{font-size: 1.6rem; color: #fff;}
.turntable-wrap .turntable{position: relative; margin-top: 0.5rem; height: 29.8rem; width: 100%;}
.turntable-wrap .turntable .aw-wrap{position: absolute; top: 1.95rem; left: 2.1rem; /* width: 31.35rem; height: 25.1rem; background-color: rgba(0,0,0,.5); */ z-index: 3;}
.turntable-wrap .turntable .aw-wrap .aw{width: 10.35rem; height: 8.2rem; margin-right: 0.25rem; margin-bottom: 0.25rem; position: relative;}
.turntable-wrap .turntable .aw-wrap .aw img{width: 100%; height: 100%; display: block;}
.turntable-wrap .turntable .aw-wrap .aw p{position: absolute; left: 0.05rem; top: 0; width: 100%; height: 100%;}
.turntable-wrap .turntable .aw-wrap .aw p span{position: absolute; bottom: 0.7rem; font-size: 1.1rem; color: #de0000; width: 100%; height: 1.4rem; line-height: 1.4rem; overflow: hidden; text-align: center;}
.turntable-wrap .turntable .aw-wrap .aw.active p{background-image: url("../img/aw_a.png"); background-repeat: no-repeat; background-position: center; background-size: 104%;}

.turntable-wrap .turntable .bg{position: absolute; left: 0; top: 0; width: 100%; height: 29.8rem; background-image: url("../img/turntable_bg.png"); background-repeat: no-repeat; background-position: center; background-size: contain; z-index: 1;}
.turntable-wrap .turntable .dot{position: absolute; left: 0; top: 0.3rem; width: 100%; height: 28.5rem; background-image: url("../img/dot.png"); background-repeat: no-repeat; background-position: center; background-size: 98%; z-index: 2;}
.turntable-wrap .turntable .dot.active{background-image: url("../img/dot_a.png");}

/* 活动规则 */
.act-rule h3{text-align: center; font-size: 1.5rem; font-weight: normal; color: #f81001; width: 8.45rem; height: 2.9rem; line-height: 2.9rem; background-image: url("../img/rule_bg.png"); background-repeat: no-repeat; background-size: cover; margin: 0.5rem auto 1rem;}
.act-rule p{font-size: 1.4rem; color: #fff; width: 29.5rem; margin: 0.1rem auto;}
.act-rule p span{color: #fe3427;}
.act-rule p.info{font-size: 1rem; color: #fff; text-align: center; padding-left: 0; margin: 1rem auto 0.8rem; background-color: #4f3848; border-radius: 1rem; width: 20rem; height: 2rem; line-height: 2rem;}

/* 弹窗 */
.pop-win-bg{background-color: rgba(0,0,0,.6); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 98; display: none;}
.pop-win{position: fixed; left: 50%; top: 50%; width: 30rem; height: 22.25rem; margin-top: -11.125rem; margin-left: -15rem; background-color: #fef2d9; border-radius: 0.5rem; z-index: 99; display: none;}
.pop-win .line{position: absolute; left: 0.4rem; top: 0.4rem; width: 29.2rem; height: 21.45rem; border: 1px dashed #da9b40; border-radius: 0.5rem;}
.pop-win .content{font-size: 2rem; color: #e41349; text-align: center; padding-top: 3rem;}
.pop-win .content .img img{width: 16.2rem; height: 12.5rem;}
.pop-win .content .txt{width: 90%; margin: 0.5rem auto 0;}
.pop-win .content .txt p{text-align: center;}
.pop-win .top{position: absolute; z-index: 100; left: 0; top: -11.2rem; width: 100%; text-align: center; }
.pop-win .top img{width: 24.9rem; height: 13.35rem;}
.pop-win .btn1,
.pop-win .btn2{position: absolute; z-index: 109; bottom: -5.8rem; width: 12.4rem; height: 4rem; line-height: 4rem; text-align: center; background-color: #FFD800; color: #E50A42; border-radius: 2rem; font-size: 2rem;}
.pop-win .btn1{left: 0.4rem;}
.pop-win .btn2{right: 0.4rem;}
/* 首页 end */

/* 领奖页面 start */
body{background-color: #f2f3f5;}

/* 兑换说明 */
.conversion-desc{background-color: #fff; width: 100%;/*  height: 36rem; */ margin-top: 1rem; padding-left: 1.5rem; padding-right: 1.5rem;}
.conversion-hd h3{font-size: 1.6rem; height: 4rem; line-height: 4rem; border-bottom: 2px solid #e5e5e5;}
.conversion-bd{padding-top: 1.7rem; padding-bottom: 3rem;}
.conversion-bd .img{width: 12rem; height: 25.5rem; background-color: #f4f9fd;}
.conversion-bd .info{margin-left: 12.7rem; font-size: 1.3rem; line-height: 2.5rem;}

/* 收货地址 */
.choose-addr{background-color: #fff; width: 100%; margin-top: 1.3rem; padding-left: 1.5rem; padding-right: 1.5rem;}
.addr-hd h3{font-size: 1.6rem; height: 4rem; line-height: 4rem;}
.addr-bd{padding-bottom: 2rem;}
.addr-bd p{font-size: 1.3rem; line-height: 2.5rem;}
.addr-bd p em{color: #888;}

/* 兑换详情 */
.conversion-detail{background-color: #fff; width: 100%; margin-top: 1.3rem; padding-left: 1.5rem; padding-right: 1.5rem; min-height: 10.8rem;}
.detail-hd h3{font-size: 1.6rem; height: 4rem; line-height: 4rem;}
.detail-bd{padding-bottom: 2rem;}
.detail-bd p{font-size: 1.3rem; line-height: 2.4rem;}
.detail-bd p em{color: #888;}
.conversion-detail .seal{position: absolute; top: 0.5rem; right: 1rem; width: 8.25rem; height: 7.6rem; background-image: url("../img/seal.png"); background-repeat: no-repeat; background-position: 0 0; background-size: cover;}
.conversion-detail .seal.seal-1{background-position: 0 0;}
.conversion-detail .seal.seal-2{background-position: 0 -7.6rem;} /* 待发货 */
.conversion-detail .seal.seal-3{background-position: 0 -15.2rem;} /* 已发货 */
.conversion-detail .seal.seal-4{background-position: 0 -22.8rem;} /* 失败 */
.conversion-detail .seal.seal-5{background-position: 0 -30.4rem;} /* 待审核 */
.conversion-detail .seal.seal-6{background-position: 0 -38rem;} /* 失效 */
.conversion-detail .seal.seal-7{background-position: 0 -45.6rem;} /* 审核失败 */
.conversion-detail .seal.seal-8{background-position: 0 -53.2rem;} /* 已完成 */

/* 操作按钮 */
.btn-wrap a{font-size: 1.8rem; line-height: 5rem; color: #f44b50; display: block; text-align: center;}

/* 领奖页面 end */

